
// reds:
$color-claret: #6D1327;

// grays:
$color-nevada: #636b6f;
$color-oslo-gray: #838b8f;
$color-gray-chateau: #a3abaf;

// abstracted colors:
$color-text: $color-claret;
$color-menu: $color-nevada;
$color-menu-light: $color-gray-chateau;
