body > footer {
    @include maxwidth;

    display: flex;
    flex-direction: column;
    height: rem(150px);

    padding: rem(30px) 0 0 0;

    .footer-copyright {
        width: 100%;
        padding: rem(20px) 0 rem(20px) 0;
        text-align: center;
    }
}
