.game {
    text-align: center;
    padding: 0.5rem 0;
}

.game-name {
    display: inline-block;
    position: relative;
    padding: 0.25rem 0;
}

.game-links {
    position: absolute;
    top: calc(50% - 1px);
    left: 100%;
    margin-left: 0.5rem;
    transform: translateY(-50%);
    white-space: nowrap;
}
